
# 后端API配置
API_V1_STR=/api/v1
PROJECT_NAME=Garbage-hero

# 安全配置
SECRET_KEY=changethis

# 跨域配置
# BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:8080"]
BACKEND_CORS_ORIGINS=["*"]

# PostgreSQL配置
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=garbage

# 日志配置
LOGGING_LEVEL=INFO
LOGGING_PATH=logs 


# ai_key_settings
OPENAI_API_KEY=""
OPENAI_BASE_URL=""
OPENAI_MODEL=



#图床配置
QINIU_ACCESS_KEY= ""
QINIU_SECRET_KEY=""
QINIU_BUCKET_NAME=""
QINIU_DOMAIN=""  # 你的七牛云域名，例如 http://cdn.example.com



# 微信登录授权
WECHAT_APP_ID="" # 你的小程序 AppID
WECHAT_APP_SECRET="" # 你的小程序 AppSecret

# 日志配置
LOGGING_LEVEL=INFO
LOGGING_PATH=logs 


